<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ConsultarVehiculoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>validar_login</servlet-name>
        <servlet-class>conf.session.servlet.validar_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validar_rest</servlet-name>
        <servlet-class>conf.session.ws.rest.servlet.validar_rest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cambiar_password</servlet-name>
        <servlet-class>conf.session.servlet.Cambiar_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarTasaUsura</servlet-name>
        <servlet-class>conf.session.servlet.procesarTasaUsura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTramites</servlet-name>
        <servlet-class>conf.session.servlet.ListaTramites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaConceptos</servlet-name>
        <servlet-class>conf.session.servlet.ListaConceptos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarSalarioMinimo</servlet-name>
        <servlet-class>conf.session.servlet.ProcesarSalarioMinimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarPaseVigencia</servlet-name>
        <servlet-class>conf.session.servlet.procesarPaseVigencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarPlanoFestivos</servlet-name>
        <servlet-class>conf.session.servlet.procesarPlanoFestivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarConsultaPlaca</servlet-name>
        <servlet-class>conf.session.servlet.procesarConsultaPlaca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarActualizarValoresRetencion</servlet-name>
        <servlet-class>conf.session.servlet.procesarActualizarValoresRetencion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asociarConceptoTramite</servlet-name>
        <servlet-class>conf.session.servlet.asociarConceptoTramite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarConcepto</servlet-name>
        <servlet-class>conf.session.servlet.mostrarConcepto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarConcepto</servlet-name>
        <servlet-class>conf.session.servlet.procesarConcepto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTramitesAsociar</servlet-name>
        <servlet-class>conf.session.servlet.listarTramitesAsociar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarSedeTramitesConcepto</servlet-name>
        <servlet-class>conf.session.servlet.ProcesarSedeTramitesConcepto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>conf.session.ws.rest.ApplicationConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarVehiculoWS</servlet-name>
        <url-pattern>/ConsultarVehiculoWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar_login</servlet-name>
        <url-pattern>/validar_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar_rest</servlet-name>
        <url-pattern>/rest/validar_restsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cambiar_password</servlet-name>
        <url-pattern>/Cambiar_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTramites</servlet-name>
        <url-pattern>/ListaTramites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaConceptos</servlet-name>
        <url-pattern>/ListaConceptos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarSalarioMinimo</servlet-name>
        <url-pattern>/ProcesarSalarioMinimo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarPaseVigencia</servlet-name>
        <url-pattern>/procesarPaseVigencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarPlanoFestivos</servlet-name>
        <url-pattern>/procesarPlanoFestivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarConsultaPlaca</servlet-name>
        <url-pattern>/procesarConsultaPlaca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarActualizarValoresRetencion</servlet-name>
        <url-pattern>/procesarActualizarValoresRetencion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asociarConceptoTramite</servlet-name>
        <url-pattern>/asociarConceptoTramite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarConcepto</servlet-name>
        <url-pattern>/mostrarConcepto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarConcepto</servlet-name>
        <url-pattern>/procesarConcepto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTramitesAsociar</servlet-name>
        <url-pattern>/listarTramitesAsociar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarSedeTramitesConcepto</servlet-name>
        <url-pattern>/ProcesarSedeTramitesConcepto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarTasaUsura</servlet-name>
        <url-pattern>/procesarTasaUsura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/paginas/jsp/error.html</location>
    </error-page>
    <!--
    <error-page>
        <error-code>400</error-code>
        <location>/paginas/jsp/error.html</location>
    </error-page>
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ssl</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
