@charset "utf-8";
/* CSS Document */

#contenedor {
  text-align:left;
  width: 1280px ;
  margin-left: auto ;
  margin-right: auto ;
}

t{
   color:        white;
   font-family:  "Tw Cen MT Condensed Extra Bold";
   font-size:    14px;
   font-style:   italic;


}



#capa2{ position:absolute;
        
        left:573px;
        top:426px;
        z-index:2;
}